name: SuperArgo Scraping Diario

on:
  schedule:
    - cron: '0 7 * * *' # 2:00 AM Bogotá
  workflow_dispatch:

jobs:
  scraping_job:
    runs-on: ubuntu-latest
    # Añadimos permisos de lectura para el contenido del repo
    permissions:
      contents: read

    steps:
    - name: Clonar repositorio
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: |
        pip install selenium pandas openpyxl

    - name: Ejecutar Scraper de SuperArgo
      env:
        PQRD_USER: ${{ secrets.PQRD_USER }}
        PQRD_PASS: ${{ secrets.PQRD_PASS }}
      # Cambio: Ahora apunta a Web_Scraping.py
      run: python Web_Scraping.py

    - name: Guardar Excel como Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Resultado_Scraping
        path: Reclamos_scraping.xlsx
